.lux-review-container {
  position: relative;
  width: 100%;
}
.lux-review {
  padding: 100px 0px;
}
.lux-review-slide {
  width: 100%;
  max-width: 800px;
  margin: 0px 250px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  background-color: var(--white);
  border-radius: var(--base-radius);
  box-shadow: var(--shadow);
}
.lux-review-slide-img {
  position: absolute;
  top: calc(50% - 125px);
  left: -125px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lux-review-slide-content {
  text-align: left;
  padding: 60px 60px 60px 160px;
  z-index: 3;
}
.lux-review-name {
  font-weight: bold;
  color: var(--midnight);
  margin-bottom: 15px;
}
.lux-review-name span {
  color: #666;
  font-weight: normal;
  text-transform: capitalize;
  margin-left: 5px;
}


.lux-review .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0px auto;
  text-align: center;
}
.lux-review .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border: 2px solid var(--border-color) !important;
  border-radius: 15px;
  margin: 2px;
}
.lux-review .owl-dots .owl-dot.active {
  border: 2px solid var(--gold) !important;
  background-color: var(--gold);
}

@media only screen and (max-width: 1000px) {
  .lux-review-slide {
    max-width: 300px;
    margin: 100px 30px 30px 30px;
    align-items: center;
  }
  .lux-review-slide-img {
    position: absolute;
    top: -100px;
    width: 200px;
    height: 200px;
    left: auto;
    right: auto;
    margin: 0px auto;
  }
  .lux-review-slide-content {
    padding: 120px 30px 30px 30px;
  }
}